<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="./css/sobre1.css">
</head>
<body>
    <!-- Fim da navegação (menu) -->
    <header>
        <div class="container-logo">
            <img src="~/Imagens/com-fundo.jpeg" alt="logo">
            <a asp-controller="Home" asp-action="Index"><h4>Voltar a página inicial</h4></a>
        </div>
    </header>

    <!-- Início de como tudo começou -->
    <div class="container-global">
        <div class="container-medio">
            <h1>Como tudo começou?</h1>
            <h2>Tudo começou graças ao desejo de oferecer qualidade com preço acessível para toda pessoa que precisar, para a idealização desse objetivo , foi necessário unir a paixão pela tecnologia que um grupo de amigos tem com o sonho comum de ser empreendedor, o resultado foi a criação dessa empresa que consegue oferecer a tecnologia advinda de notebooks para diversas faixas sociais.</h2>
        </div>
        <div class="container-pequeno">
            <img src="~/Imagens/sobre-uniao.jpg" alt="uniao">
        </div>
    </div>
    <!-- Fim de como tudo começou -->

    <main class="container-missao">
        <div class="global">
            <div class="img-missao">
                <img src="~/Imagens/seta-direita.png" alt="seta">
            </div>
            <div class="missao-texto">
                <h1>Missão:</h1>
                <h2> Satisfazer as expectativas, contribuindo para a realização dos objetivos dos nossos clientes.</h2>
            </div>    
        </div>

        <div class="global visaoaltura prime">
            <div class="visao-texto">
                <h1>Visão:</h1>
                <h2>Reconhecimento internacional, buscando ser o fornecedor principal dos nossos clientes, através da nossa qualidade, criatividade e tecnologia. </h2>
            </div>  
            <div class="img-visao">
                <img src="~/Imagens/seta-esquerda.png" alt="seta">
            </div>  
        </div>

        <div class="global visaoaltura">
            <div class="img-missao">
                <img src="~/Imagens/seta-direita.png" alt="seta">
            </div>
            <div class="missao-texto">
                <h1>Valores:</h1>
                <h2>Inovação, Empatia, Organização, Excelência e Disciplina. </h2>
            </div>    
        </div>
    </main>



    <!-- Fim do rodapé -->
    
</body>
</html>