@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web";
    border: none;
}

body {
    font-family: "Titillium Web";
    background-color: rgb(221, 221, 221);
}

header {
    height: 103px;
    border-bottom: 1px solid #000;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.container-logo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-logo img {
    width: 84%;
    height: 75px;
    object-fit: contain;
}

.container-logo a h4 {
    color: #000;
}

header a {
    text-decoration: none;
}

.page {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 84.3vh;
}

.card {
    width: 86%;
    max-width: 450px;
    background: #fff;
    padding: 34px;
    border-radius: 10px;
    box-shadow: 0 20px 20px 0px rgba(0,0,0,0.1);
}

.login {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo {
    padding: 15px;
    border-radius: 7px;
    border: 1px solid #252525;
    transition: all linear 190ms;
    font-size: 0.9em;
    margin-bottom: 5px;
    outline: none;
}

.campo::placeholder {
    color: #666;
}

.campo:focus {
    border-color: #090979;
}

.btn {
    padding: 9px;
    color: #fff;
    font-weight: 600;
    border: none;
    margin-top: 13px;
    border-radius: 7px;
    background-color: #465dcb;
    cursor: pointer;
    transition: all linear 190ms;
    font-size: large;

}

.btn:hover {
    transform: scale(1.04);
    background-color: #1414db;
}

#btnCad {
    width: 24% !important;
    height: 32px !important;
    text-align: center !important;
    padding: 0px !important;
    background: #252525 !important;
    text-decoration: none;
}

p {
    font-size: 0.9em;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

#form-lbl {
    font-size: 0.8rem;
}

/* Início do rodape */

.rodape {
    width: 100%;
    height: 130px;
    border-top: 1px solid;
    border-top: 1px solid;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    background-color: #fff;
}

.container-omega {
    width: 20%;
}

.rodape p {
    font-size: 0.9vw;
}

.imgg {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo_rodape {
    width: 100%;
    height: 75px;
    object-fit: contain !important;
}

.inputs {
    display: flex;
    margin-bottom: 20px;
}

.inputs input {
    height: 25px;
    border: 1px solid black
}

.inputs label {
    display: none;
}

#input_email {
    width: 50%;
    margin-bottom: 0px !important;
}

#input_botao {
    width: 47%;
    background-color: #8326EF;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0px;
    border-left: none;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social a img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #fff;
}

#email {
    width: 53%;
}

.container_inputs {
    width: 295px;
}

/* Fim do rodape */

/* Fim do header (menu) */

@media only screen and (max-width: 650px) {
    .container-logo {
        width: 67% !important;
        height: 75px;
        margin-top: 14px;
        object-fit: contain !important;
    }

    .inputs input {
        font-size: .9rem;
    }

    #btnCad {
        width: 43% !important;
    }

    .rodape {
        flex-direction: column;
        height: auto;
    }

    .container_inputs {
        order: 1;
    }

    .imgg {
        order: 2;
        width: 84%;
        height: 75px;
    }

    #logo_rodape {
        margin-top: 10px;
        height: 100%;
    }

    .container-omega {
        order: 3;
        width: 62%;
    }

    .rodape p {
        font-size: 2.4vw;
        margin-top: 10px;
    }

    .container_inputs h5 {
        margin-top: 10px;
    }

    #container-maximo {
        width: 85% !important;
        padding: 12px !important;
        margin-bottom: 0px !important;
        margin-top: 63px !important;
    }
}

@media only screen and (min-width: 651px) and (max-width: 905px) {
    .rodape p {
        font-size: 1.4vw;
    }

    .container_inputs {
        width: 40%;
    }
}

@media only screen and (min-width: 1601px) and (max-width: 4000px) {
    #container-maximo {
        margin-top: 16vh;
    }

    .container-logo img {
        width: 77%;
    }

    header {
        height: 155px;
    }

    .page {
        height: 82.3vh;
    }
}
