<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="./css/cadastro3.css">
</head>
<body>
    <!-- Início do menu -->
    <header>
        <div class="container-logo">
            <img src="./Imagens/com-fundo.jpeg" alt="logo">
            <a asp-controller="Home" asp-action="Index"><h4>Voltar a página inicial</h4></a>
            
        </div>  
    </header>
    <hr>
    <!-- Fim do menu -->

    <!-- Início do formulário -->

    <div id="container-maximo">
        <h1>Cadastre-se para efetuar compras</h1>
        <form id="form-registro" method="post" class="cadastro">
            <div class="container-grande">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email1" placeholder="Digite seu e-mail">
            </div>
            <div class="container-medio espaco">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" placeholder="Digite seu nome">
            </div>
            <div class="container-medio">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" name="sobrenome" id="sobrenome" placeholder="Digite seu sobrenome">
            </div>
            <div class="container-medio espaco">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
            </div>
            <div class="container-medio">
                <label for="senha-confirmacao">Confirmar senha</label>
                <input type="password" name="senha-confirmacao" id="senha-confirmacao" placeholder="Repita a senha">
            </div>
            <div class="container-grande">
                <input id="btn-enviar" type="submit" value="Cadastrar">
            </div>
            <a asp-controller="Login" asp-action="Index">Já realizou o cadastro? Faça o login.</a>
        </form>
    </div>

    <!-- Fim do formulário -->


    <!-- Início do rodapé -->
    <footer class="rodape" id="rodap">
        <div class="container-omega">
            <p>TechFlexNotebook Todos os direitos reservados&copy;</p>
        </div>
        <div class="imgg">
            <img src="./Imagens/com-fundo.jpeg" alt="logo" id="logo_rodape">
        </div>
        <div class="container_inputs">
            <form action="send_email.php" method="post">
                <label for="email" id="form-lbl">Digite o seu e-mail para receber promoções!</label>
                <div class="inputs">
                    <label for="email" id="form-lbl">Digite o seu e-mail para receber promoções!</label>
                    <input type="email" id="email" name="email" placeholder="E-mail" required autocomplete="off">
                    <input type="submit" id="input_botao" value="Cadastrar">    
                </div>
            </form>
            <div class="social">
                <h4>Siga-nos em:</h4>
                <a href="https://www.instagram.com/techflex024?igsh=MWJvNGd1Zjg2YTc1Yg=="><img src="./Imagens/instagram.png" alt="instagram"></a>
                <a href="https://wa.me/qr/PXOS347KIXH3A1"><img src="./Imagens/whatsapp.png" alt="whatsapp"></a>
                <a href="https://www.facebook.com/profile.php?id=61561168657526"><img src="./Imagens/facebook.png" alt="facebook"></a>
                <a href="https://www.linkedin.com/in/tech-flex-424a96314?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="./Imagens/linkedin.png" alt="linkedin"></a>
            </div>    
        </div>
    </footer>
    <!-- Final do rodapé -->
</body>
</html>