<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechFlex Notebook</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/card6.css">
    <script src="../js/card6.js" defer></script>
</head> 
<body>
    <!-- Início do menu -->
    <header>
        <div class="container-logo">
            <img src="../img/com-fundo.jpeg" alt="logo">
            <a asp-controller="Home" asp-action="Index"><h4>Voltar a página inicial</h4></a>
        </div>  
    </header>
    <!-- Fim do menu -->
    <main class="container-maximo">
        <div class="container-global" id="container-1">
            <div class="imagem-grande" id="box">
                <img src="../img/positivo2.png" alt="notebook" id="img-grande" class="img1">  
            </div>
            <div class="zoom-container" id="zoom-container">
                <img src="../img/positivo2.png" alt="notebook" id="zoom-img">
            </div>
            <div class="imagens">
                <img src="../img/positivo2.png" alt="notebook" class="imagem-pequena prim">
                <img src="../img/positivo.png" alt="notebook" class="imagem-pequena prim">
                <img src="../img/positivo3.png" alt="notebook" class="imagem-pequena prim">
                <img src="../img/positivo4.png" alt="notebook" class="imagem-pequena escolhida">
            </div>
        </div>
        <div class="container-global" id="container-2">
            <h1 class="con-h1">Notebook Positivo Vision i15 Lumina Bar, Intel Core i3 11ª gen 8GB RAM, Windows 11 Home, SSD 256 GB, DDR4 3200 MHz SDRAM </h1>
            <div class="iiimg con-h1">
                <img src="../img/garantia.png" alt="icone">
            </div>
            <hr id="hr-2">
            <h3>Informações importantes</h3>
            <div class="continuacao">
                <h4 class="c4">Memória RAM: 8 GB</h4>
                <h4>Tela: 15.6 polegadas, full HD (1920 x 1080), LED antirreflexo, veja as imagens com muito mais detalhes </h4>
                <h4>Cor: Cinza</h4>
            </div> 
            <div class="seguranca-extra">
                <div class="seguranca-menor">
                    <hr id="hr-1">
                    <p>Segurança adicional</p>
                    <div class="seguranca-minima">
                        <input type="checkbox" name="" id="">
                        <h5>Garanta a segurança do seu equipamento durante 1 ano, em 5 parcelas acessíveis de apenas R$200 cada. Não perca essa oportunidade!</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-global" id="container-3">
            <div class="geral">
                <div class="geral-interno">
                    <h2>No pix: R$ 1.880,14</h2>
                    <h3>ou até 12x R$ 189,76</h3> 	
                    <h4 id="parcelas-button">Confira as parcelas<span class="material-icons dropdown-icon">arrow_drop_down</span></h4>
                </div>
            </div>
            <!-- Início da tabela -->
            <div class="parcelas" id="parcelas-table">
                <div class="parcelas-container">
                    <table class="tabela-parcelas">
                        <thead>
                            <tr>
                                <th class="largura">Parcelas</th>
                                <th class="largura">Valor</th>
                                <th class="largura">Preço Final</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <!-- Linhas das parcelas serão inseridas aqui -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Fim da tabela -->
            <div class="container-compras">
                <div class="carrinhoo">
                    <input type="submit" value="Colocar ao carrinho" id="salvar-carrinho">
                </div>
            </div>
        </div>
    </main>
    <div class="container-informacoes">
        <div class="container-inf">
            <h1>Todas informações do produto<span class="material-icons dropdown-icon" id="span1">arrow_drop_down</span></h1>
        </div> 
    </div>
    <div class="container-interno">
        <div class="container-medio">
            <table class="container-tabela">
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Sistema Operacional</th>
                    <th>Windows 11 Home</th>
                </tr>
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Processador</th>
                    <th>Intel Core i3 11ª gen</th>
                </tr>
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Placa de vídeo</th>
                    <th>Intel® UHD Graphics</th>
                </tr>
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Tela</th>
                    <th>Tela: 15.6 polegadas, full HD (1920 x 1080), LED antirreflexo</th>
                </tr>
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Memória</th>
                    <th>8 GB</th>
                </tr>
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Armazenamento</th>
                    <th>SSD 256 GB</th>
                </tr>   
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Portas de conexão</th>
                    <th> 1 USB Type-C com taxa de sinalização de 5Gbps. 2 USB Type-A com taxa de sinalização de 5Gbps.
                         1 alimentação CA. 1 HDMI 1.4b. 1 conector estéreo combinado para fone de ouvido/microfone</th>
                </tr>
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Câmera</th>
                    <th>HD</th>
                </tr>
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Áudio</th>
                    <th>Alto-falantes</th>
                </tr>
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Bateria</th>
                    <th>Duração: 8h.</th>
                </tr>
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Fonte de alimentação</th>
                    <th>HP Smart 45 W External AC power adapter</th>
                </tr>
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Peso</th>
                    <th>1.75 kg</th>
                </tr>
                <tr class="tabela-coluna">
                    <th class="largura-fixada">Incluído na caixa</th>
                    <th>Notebook, Carregador e manual de instrução</th>
                </tr>
            </table>
        </div>
    </div>
    <!-- Início do rodapé -->
    <footer class="rodape" id="rodap">
        <div class="container-omega">
            <p>TechFlexNotebook Todos os direitos reservados&copy;</p>
        </div>
        <div class="imgg">
            <img src="../img/com-fundo.jpeg" alt="logo" id="logo_rodape">
        </div>
        <div class="container_inputs">
            <h5>Digite o seu e-mail para receber promoções!</h5>
            <div class="inputs">
                <input type="text" id="input_email" placeholder="E-mail">
                <label for="input_email"></label>
                <input type="button" id="input_botao" value="Cadastrar">
                <label for="input_botao"></label>
            </div>
            <div class="social">
                <h4>Siga-nos em:</h4>
                <a href="https://www.instagram.com/techflex024?igsh=MWJvNGd1Zjg2YTc1Yg=="><img src="../img/instagram.png" alt="instagram"></a>
                <a href="https://wa.me/qr/PXOS347KIXH3A1"><img src="../img/whatsapp.png" alt="whatsapp"></a>
                <a href="https://www.facebook.com/profile.php?id=61561168657526"><img src="../img/facebook.png" alt="facebook"></a>
                <a href="https://www.linkedin.com/in/tech-flex-424a96314?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="../img/linkedin.png" alt="linkedin"></a>
            </div>    
        </div>
    </footer>
</body>    
</html>