@{
    ViewData["Title"] = "PainelGerente";
}

<p>Painel Colaborador Gerente</p>

<p>Informações de Usuário</p>
<p>Você é Gerente da loja.</p>

Seja bem-vindo, <span>>Nome: @ViewBag.Nome</span>
    <p>Tipo: @ViewBag.Tipo</p>
    <p>E-mail: @ViewBag.Email</p>

<br />